# Ignorar todo por defecto
*
.*

# No ignorar directorios principales (necesario para que funcionen las reglas de subdirectorios)
!data/
!workflow/
!output/
!resources/
!logs/

# No ignorar archivos específicos en la raíz
!epibac.py
!config.yaml
!LICENSE
!README.md
!.gitignore
!CHANGELOG.md
!CONTRIBUTING.md

# Ignorar contenidos de directorios específicos
output/*
logs/*
resources/*

# Permitir archivos .gitkeep
!output/.gitkeep
!logs/.gitkeep
!resources/setup_conda_singularity.sh

# Permitir datos de ejemplo
!data/250319_ALIC001/
!data/250319_ALIC001/**/*.fastq.gz

# No ignorar nada en workflow
!workflow/
!workflow/**

# Ignorar todos los directorios __pycache__ en cualquier nivel
**/__pycache__/

# Ignorar todos los archivos compilados de Python en cualquier nivel
**/*.pyc
**/*.pyo
**/*.pyd
