*
.snakemake
.conda
.DS_Store
!.gitignore
!authors.md
!config.yaml
!dag.png
!envs  
!envs/*
!LICENSE  
!README.md  
!report.html  
!rules
!rules/*
!scripts
!scripts/*
!Snakefile
!test
!test/*
!test/raw_data
!test/raw_data/*
!schemas  
!schemas/*
